---
services:
  dockerify-android:
    container_name: dockerify-android
    image: shmayro/dockerify-android:latest
    build:
      context: .
    network_mode: host
    volumes:
      - ./data:/data
      - ./extras:/extras
    environment:
      DNS: one.one.one.one
      RAM_SIZE: 8192
      # Optional screen resolution in WIDTHxHEIGHT format
      #SCREEN_RESOLUTION: 720x720
      # Optional screen density (dpi)
      #SCREEN_DENSITY: 227
      ROOT_SETUP: 1 # set to 1 to enable rooting
      GAPPS_SETUP: 1 # set to 1 to install PICO GAPPS
    privileged: true
    devices:
      - /dev/kvm

  scrcpy-web:
    container_name: scrcpy-web
    restart: unless-stopped
    image: shmayro/scrcpy-web:latest
    privileged: true
    network_mode: host
    depends_on:
      dockerify-android:
        condition: service_healthy
    command: >
      sh -c "
        adb connect dockerify-android:5555 &&
        npm start
      "

